.scroll-btn.back{
	width: 64px;
	height: 64px;

	position: fixed;
	right: 32px;
	bottom: 32px;

	display: none;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;

	z-index: 1;
	user-select: none;
}

.scroll-btn.show{
	display: flex;
}

@media screen and (max-width: 540px) {
	.scroll-btn.back{
		right: 16px;
		bottom: 16px;
	}
}