.footer.back{
	width: 100vw;
	height: fit-content;

	display: block;
	padding: 32px 48px;
}

.footer.block{
	width: 100%;
	height: fit-content;

	padding: 8px 0px;
}

.footer.link-rail{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.footer.link{
	width: fit-content;
	height: fit-content;

	padding: 2px;
	margin: 0px 2px;
}