/* Main */
.main-section.back{
	background: hsl(0, 0%, 98%);
}

.main-section.page,
.main-section.block{
	background: transparent;
}

/**/
.main-section .anchor-link{
	font-weight: 500;
}

.main-section .anchor-link:hover{
	text-decoration: underline;
}